.form__forgot {
    float: right;
    margin: 5px 0px 30px;
    font-size: 1.3rem;
    color: #f7c325;
    font-family: "Barlow", sans-serif;
}
.form__register {
    color: #f7c325;
    font-family: "Barlow", sans-serif;
    margin-left: 6px;
    font-size: 1.1rem;
}
.form__register:hover,
.form__forgot:hover {
    color: #f7c325;
}
.form__par {
    font-size: 1.1rem;
    margin-top: 40px;
}
.form__label {
    color: #f7c325;
    font-family: "Barlow", sans-serif;
    font-size: 1.5rem;
}

.row {
    justify-content: center;
}

.error {
    font-size: 17px;
    background: rgb(255, 86, 86);
    border-radius: 5px;
    padding: 10px;
}
